@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This GIS application uses Leaflet javascript library to produce an area map on which LSOA and MSOA
    area are ploted along with usefull information about the areas retrived from a database.</p>
